:root {
  --color-primary: #364153;
  --color-secondary: #8fa3bf;
  --text-color: #333;
  --headline-color: #333;
  --border-color: #333;
  --border-color-2: #333;
  --underline-color: #333;
  --links-color: #333;
}

* {
	/*padding: 0.4545454545454545px;*/
	box-sizing: border-box;
}

body {
	margin: 0;
}

.box i {
	cursor: pointer;
}

.hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  display: inline-block;
}

.hidden.show {
  opacity: 1;
  max-height: 200px; /* enough for text */
}

.box-title i {
  transition: transform 0.3s ease;
}

.box-title.active i {
  transform: rotate(180deg);
}

/* Animations */

/* change color of title and chevron on hover */

/* hover on titles of services  */

/* contact form on click border color change with animation */


.nav-item {
  white-space: nowrap;
}

nav a {
  white-space: nowrap;
  word-break: keep-all;
}


img {
  max-width: 550px;
  width: 100%;
}
.box {
	border: 1px solid var(--border-color-2);
	border-radius: 10px;
	color: #FFF;
	background: var(--color-primary);
}

.box-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
}

@media (min-width: 1100px) {

}

.hero {
  position: relative;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  max-width:550px;
  max-height: 450px;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(90, 90, 90, 0.55),
    rgba(90, 90, 90, 0.25)
  );
  z-index: 1;
  max-width: 550px;
}



.reveal-title{
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: 800;

  /* base color (unfilled) */
  color: transparent;

  /* the "fill" is a gradient that grows */
  background-image: linear-gradient(90deg, #3b82f6 0%, #3b82f6 50%, #94a3b8 50%, #94a3b8 100%);
  background-size: 200% 100%;
  background-position: 100% 0;

  -webkit-background-clip: text;
  background-clip: text;

  transition: background-position 900ms ease;
}

.reveal-title.is-active{
  background-position: 0 0; /* slides the blue across */
}
