body {
    background: #0a0a0a;
    margin: 0;
}

@font-face {
  font-family: 'Kaushan Script';
  src: url('./assets/fonts/KaushanScript-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kaushan Script';
  src: url('./fonts/KaushanScript-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.typewriter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: #0a0a0a;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.typewriter-container {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

.cursor {
  width: 3px;
  height: 40px;
  background-color: #ffffff;
  margin-left: 5px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

div.link {
    text-align: right;
    padding-right: 50px;
    padding-top: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}

body.v2-body {
    background: #0a0a0a;
}

.v2-typewriter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: #0a0a0a;
  color: #ffffff;
  font-family: 'Kaushan Script', cursive;
  overflow: hidden;
}

.v2-typewriter-container {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

.v2-cursor {
  width: 3px;
  height: 40px;
  background-color: #ffffff;
  margin-left: 5px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

div.v2-link {
    text-align: right;
    padding-right: 50px;
    padding-top: 20px;
}

div.v2-link a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}

div.container {
    display: flex;
}

div.container img {
    width: 50%;
}